.header-content {
    display: flex;
    padding: 0 8rem;
    justify-content: space-between;
}

.logo{
    color: #ffffff;
    font-family: 'Satisfy', cursive;
}

.brand{
    color: #ffffff;
}

.header-logo {
    /* height: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo .logo{
    text-decoration: none;
    text-shadow: #474747 2px 2px 2px;
}

.header-brand {
    /* height: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search {
    /* height: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-brand p {
    color: white;
    font-weight: bold;
}

/* .brand-text {
    text-decoration: none;
    color: #ffa246;
    text-shadow: #474747 3px 5px 2px;
}
 */

 @media screen and (max-width: 680px) {
    .header-content{
        display: block;
    }
}
