.header-content {
    display: flex;
    padding: 0 8rem;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    font-family: "Satisfy", cursive;
}

.brand {
    color: #ffffff;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo .logo {
    text-decoration: none;
    text-shadow: #474747 2px 2px 2px;
    transition: 0.3s ease all;
}

.header-logo .logo:hover {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

.header-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.header-brand p {
    color: white;
    font-weight: bold;
}

/* .brand-text {
    text-decoration: none;
    color: #ffa246;
    text-shadow: #474747 3px 5px 2px;
}
 */

@media screen and (max-width: 680px) {
    .header-content {
        display: block;
    }
}
