@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: "Source Sans Pro", sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
        15deg,
        rgba(52, 8, 100, 1) 0%,
        rgba(46, 195, 202, 1) 100%
    );
    background-repeat: no-repeat;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #646464;
}
body::-webkit-scrollbar-thumb:hover {
    background: rgba(52, 8, 100, .7);
}